<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>배경화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bulma.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/setBlog/background.css}" />
</head>
<body>
    <script type="text/javascript" th:inline="javascript" charset="UTF-8">
        /*<![CDATA[*/
        var result = /*[[ ${backgroundImage} ]]*/'';
        /*]]*/
        window.onload = function() {
            var img = "url('data:image/*;base64, "+result+"')"
            document.body.style.backgroundImage = img;
        }
    </script>
    <section class="section" id="blog">
        <div class="container is-max-desktop"></div>
    </section>
</body>
</html>